
html {
    font-family: "Courier New", monospace;
    font-size: 15px;
    line-height: 1.5;
}

body {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 32px;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2%;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

a {
    color: inherit
}

div.indent {
    margin-left: 16px;
}

.s1 {
    width: 10%;
}

.s2 {
    width: 20%;
}

.s3 {
    width: 30%;
}

.s4 {
    width: 40%
}

.s5 {
    width: 50%;
}

.s6 {
    width: 60%;
}

.s7 {
    width: 70%;
}

.s8 {
    width: 80%;
}

.s9 {
    width: 90%;
}

.s10 {
    width: 100%;
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center
}

.navbar {
    top: 0;
    width: 100%;
    position: fixed;
    padding: 0px 16px;
    letter-spacing: 4px;
    color: #000;
    background-color: #ffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-right {
    float: right;
    margin-right: 20px;
}

.navbar-item {
    padding: 8px 16px;
    float: left;
}
.posts {
    width: 60%;
    margin: auto;
}

.about {
    width: 99%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}

.title {
    text-align: center;
    margin-top: 256px;
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-image {
    width: 100%;
    vertical-align: middle;
    overflow: hidden
}

.card-date {
    opacity: 0.60
}



